html
    head
        title 배달의민족
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/common.css")
        block css
        block js
    body
        block content