extends base.pug
block css
    link(rel="stylesheet", href="css/terms.css")

block content
    header#header
        button#header-cancelBtn
            img(src='../img/cancel.png')
        div.container
            div#header-wrap
                div#header-title 회원가입
    section#notice
        div.container
            div#notice-wrap
                | 어서오세요
                br
                | 약관동의가 필요해요
    section#accept
        div.container
            div#accept-wrap
                label.term-item
                    input(type='checkbox')#accept-checkbox
                    div.checkmark
                    div 전체동의
            hr
    
    section#term
        div.container
            div#term-wrap
                label.term-item
                    input(type='checkbox').required
                    div.checkmark
                    | 배달의민족 이용약관 동의
                label.term-item
                    input(type='checkbox').required
                    div.checkmark
                    | 전자금융거래 이용약관 동의
                label.term-item
                    input(type='checkbox').required
                    div.checkmark
                    | 개인정보 수집이용 동의
                label.term-item
                    input(type='checkbox').optional
                    div.checkmark
                    | 개인정보 제3자 제공 동의 (선택)
                label.term-item
                    input(type='checkbox').optional
                    div.checkmark
                    | 마케팅 정보 메일, SMS 수신 동의 (선택)
            hr
    section#age
        div.container
            div#age-wrap
                label#age-adult.age-item
                    input(type='radio', name='age-radio').age-radio
                    div.radiomark
                    div.age-item-title 만 14세 이상입니다.
                    img.age-item-icon(src='../img/adult.png')
                label#age-child.age-item
                    input(type='radio', name='age-radio').age-radio
                    div.radiomark
                    div
                        div.age-item-title 만 14세 미만입니다.
                        div.age-item-desc 본인확인이 된 보호자의 배민계정이 필요해요.
                    img.age-item-icon(src='../img/child.png')
    section#next
        div.container
            button(disabled)#next-nextBtn 다음으로