/* header */
#header {
    position: relative;
    height: 40px;
    padding-top: 10px;
    background-color: white;
}

#header-wrap {
    display: flex;
    align-items: center;
    height: 100%;
}

#header-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#header-backwardBtn {
    position: absolute;
    top: 20px;
    left: 10px;
}

#header-backwardBtn img {
    height: 15px;
}

#header-nextBtn {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 16px;
    font-weight: bold;
}

#header-nextBtn .disable {
    color: var(--grey);
}

#header-nextBtn:hover:not(.disable) {
    opacity: 0.75;
}

/* input form */
label {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

input {
    height: 40px;
    border-bottom: solid 1px var(--grey);
    font-size: 16px;
    margin-right: 5px;
}

/* email */
#email-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#email-label {
    width: 270px;
}

#email-duplicate {
    box-sizing: border-box;
    width: 85px;
    border: 1px solid var(--grey);
    padding: 7px 0;
    border-radius: 0.35rem;
    cursor: pointer;
}

/* validate mark */
.validate::after {
    position: absolute;
    bottom: 10px;
    right: 0px;
    display: none;
    content: '✔';
    text-align: center;
    color: var(--mint);
    width: 20px;
    height: 20px;
}

/* input remove btn */
.remove {
    position: absolute;
    bottom: 12px;
    right: 5px;
    display: none;
    text-align: center;
    cursor: pointer;
}

.remove img {
    width: 12px;
    height: 12px;
}